.Credits {
    width: 700px; min-height: 600px;
    display: grid;
    align-content: start; justify-items: center;
    gap: 10px;
    margin-top: 60px;
}

.Credits h1 {
    color: var(--fore-color);
}

.Credits .loan-tile {
    background: orange; color: #222;
    width: 92%; height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
}