.hero {
    background: linear-gradient(135deg, #031927, #031927);
    color: white;
    padding: 3rem 0;
    text-align: center;
    border-radius: 0 0 20px 20px;
    width: 100vw;
}

.Home .container {
    display: block;
}

.cta-button {
    background-color: #0ca9a9;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.cta-button:hover {
    background-color: #34d1d1;
    transform: translateY(-2px);
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3rem 0;
    background: #25394b;
    padding: 40px 0;
    border-radius: 30px;
}

.feature-card {
    background: #ccd5e2;
    border-radius: 10px;
    padding: 2rem;
    width: 250px;
    margin: 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    text-align: center;
    border-top: 4px solid #34d1d1;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-4px);
    }
}