body {
    font-family: 'Arial', sans-serif;
    background-color: #96a0aa;
    margin: 0;
    color: #333;
    height: 100vh;
}

header {
    background-color: #25394b;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 1rem 0;
    position: relative;
}

/* .navigate-element {
    padding: 2px 4px;
    position: absolute;
    top: 20px; right: 30px;
    color: #000;
    font-size: 15px;
    display: flex;

    &:before {
        font-family: "Material Icons";
        content: "person";
        color: #345678;
        font-size: 20px;
    }
} */

.navigate-panel {
    padding: 2px 4px;
    position: absolute;
    top: 24px; right: 20px;
    color: #ededed;
    font-size: 15px;
    display: flex;
    gap: 10px;
}

.navigate-panel > div {
    padding: 8px 24px;
    cursor: pointer;

    &:hover {
        color: #cdd;
        border-color: #cdd;
    }
}

.navigate-panel > .sign-up {
    border: 1px solid #ededed;
}

#main-headline {
    color: #fff;
    font-size: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    background: linear-gradient(135deg, #031927, #031927);
    color: white;
    padding: 3rem 0;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.cta-button {
    background-color: #0ca9a9; /* var(--dark-green) */
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.cta-button:hover {
    background-color: #34d1d1; /* #2E7D32 */
    transform: translateY(-2px);
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3rem 0;
    background: #25394b;
    padding: 40px 0;
    border-radius: 30px;
}

.feature-card {
    background: #ccd5e2;
    border-radius: 10px;
    padding: 2rem;
    width: 250px;
    margin: 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    text-align: center;
    border-top: 4px solid #34d1d1;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-4px);
    }
}