.Loan {
    background: darkgray;
    width: 700px; min-height: 600px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    display: grid;
    align-content: start; justify-items: center;
    gap: 10px;
    margin-top: 60px;
}

.Loan .row {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: auto;
    width: 70%;
    text-decoration: underline;
}