.Products {
    width: 700px; min-height: 600px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.Product {
    background: red;
    border-radius: 10px;
    margin: 20px;
    height: 200px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
}