.Products {
    width: 700px; min-height: 600px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    & > .title {
        color: var(--fore-color);
        font-size: 32px;
        opacity: 0.7;
        height: max-content;
    }
}

.Product {
    background: #374151;
    border-radius: 32px;
    height: 240px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s linear;
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--fore-color);
    opacity: 0.9;

    &:hover {
        transform: scale(1.025);
    }
}

.Product > .row {
    width: max-content;
    display: grid;
    justify-content: start;
    justify-items: center;
    gap: 12px;
    font-size: 14px;

    &.first {
        margin-top: 10px;
    }

    &.last {
        margin-bottom: 10px;
    }

    & > .row {
        justify-content: center;
        width: max-content;

        &.name {
            font-size: 20px;
        }
    }

    &.rate, &.term, &.early_repayment {
        width: 80%;
    }
}

.Form {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: grid;
    align-items: center;
    justify-content: center;
}

.Form form {
    background: #ccc;
    width: 500px;
    height: 400px;
    border-radius: 24px;
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Form form .rows {
    width: max-content;
    justify-items: end;
    display: grid;
    gap: 20px;
}

.Form form .row {
    width: max-content;
    align-items: center;
    justify-content: end;
    gap: 10px;

    & > input, textarea {
        max-width: 200px;
        width: 180px;
        padding: 2px 10px;
        border: 0.5px solid gray;
        border-radius: 4px;

        &:not(&:placeholder-shown).error {
            border: 2px solid red;
        }
    }

    & > textarea {
        height: 40px;
        max-height: 60px;
        min-height: 40px;
        font-size: 14px;
    }
}

.Form form .send-btn {
    margin-top: 40px;
    font-size: 16px;
    padding: 6px 28px;
    border-radius: 8px;
    cursor: pointer;
}